# ignore file
config.txt

# ignore folder =>
data/

# ignore extension => case: ignore .exe extensions
*.exe

# recommended gitignore list: https://github.com/github/gitignore
# generate gitignore; https://gitignore.io